/**
 * Client Application Styles in Sass Format
 * 
 * By: David Lin
 */

// re-useable variables
$navTextColor: #43413f;
$logoColor: #FF674D;
$getButtonColor: #d44950;


// Button classes that will be reused
.round-button {
    cursor: pointer;
    padding: 8px;
    border-radius: 20px;
    line-height: 5px;
    min-height: 5px;
    text-align: center;
    transition-property: background-color, border, color, opacity;
    transition-duration: 200ms;
}

// base html settings
html, body {
    margin: 0;
}

// main application
#app {
    // The nav in the header
    .navigation {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        margin: 0;
        color: $navTextColor;

        font-weight: 500;
        font-size: 17px;
        font-style: normal;

        a {
            display: block;
            padding: 1em;
            text-decoration: none;
        }
        
        .logo {
            img {
                height: 30px;
            }
        }

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
        }

        .right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: auto;
        }

        .search {
            cursor: pointer;
        }

        .sign-in {
            cursor: pointer;
            border: 2px solid $navTextColor;
            border-radius: 42px;
            box-sizing: border-box;
            padding: 8px 14px 6px;
            margin-left: 14px;
            color: $navTextColor;

            background-color: transparent;
            text-align: center;
            transition-property: background-color, border, color, opacity;
            transition-duration: 200ms;

            user-select: none;

            min-height: 35px;
            line-height: 14px;

            &:hover {
                color: white;
                background-color: $navTextColor;
            }
        }
    }

    // The main dedupe screen
    .dedupe {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;

        background-color: #777;
        width: 100%;
        min-height: 600px;
        color: white;

        .intro {
            font-size: 40px;
            line-height: 40px;
            font-weight: bold;
            text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
        }

        .generate-emails {
            display: flex;
            flex-flow: column;
            justify-content: center;

            label {
                margin: 10px;

                input {
                    margin-left: 10px;
                }
            }

            .generate-button {
                @extend .round-button;
                background-color: #ff5c00;

                &:hover {
                    background-color: lighten(#ff5c00, 10%);
                }
            }

            .emails {
                display: flex;
                flex-flow: column;
                align-items: center;

                .emails-control {
                    margin-top: 10px;

                    .toggle-emails {
                        @extend .round-button;
                        background-color: $getButtonColor;

                        &:hover {
                            background-color: lighten($getButtonColor, 10%);
                        }
                    }
                }

                ul {
                    list-style-type: none;
                    max-height: 150px;
                    overflow-x: auto;
                    padding-left: 0;
                    margin-bottom: 0;
                    width: 100%;

                    li {
                        background-color: $logoColor;
                        padding: 5px;
                        margin: 3px;
                        border-radius: 5px;

                        &.empty {
                            background-color: #555;
                            color: #ddd;
                        }
                    }
                }
            }
        }

        .results {
            display: flex;
            flex-flow: column;

            margin-top: 10px;
            width: 80%;

            .dedupe-button {
                @extend .round-button;
                background-color: #6D7921;

                &:hover {
                    background-color: lighten(#6D7921, 10%);
                }
            }

            .email-results {
                background-color: black;
                min-height: 300px;
                padding-top: 5px;
                margin-top: 5px;

                ul {
                    list-style-type: none;
                    width: 100%;
                    overflow-x: auto;
                    max-height: 250px;
                    padding: 0;

                    li {
                        background-color: #333;
                        border-radius: 5px;
                        margin: 3px 15px;
                        padding: 5px;
                        transition-property: background-color, border, color, opacity;
                        transition-duration: 200ms;

                        &:hover {
                            background-color: #bbb;
                            color: #111;
                        }

                        &.empty {
                            background-color: transparent;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
